/* App.css or index.css */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f0f0f0; /* Optional: background color */
}